<header>
    <div class="top-header">
        <div class="top-nav">
        <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
        </div>
        <div class="burger-menu">
        <img src =img/marca.jpg alt="" class="logo_img">
        </div>
        <div class="form" >
        <form action="#" method="GET">
               
                <label >
                <input  id="buscarmarca" name="buscar_marca" type="text" placeholder="buscar producto marca" style="font-size:20px;">
                </label>   
              
                <div class="submit"><i class="fa-solid fa-magnifying-glass" style="font-size: 20px; padding: 10px" ></i></div>
        </form>
        </div>
        <div class="burger-menu">
        <lu><a href="#"><i class="fa-solid fa-user-shield" style="font-size:25px ; color: black" ></i></a></lu>
        
        </div>
        <div class="burger-menu">
        <lu> <a href= '/productcart'> <i class="fa-solid fa-basket-shopping" style="font-size:25px ; color: black"> </i></a></lu>
        
        </div>
        </div>
        <div>
       
        <div class="navegation" >
        <nav class="bot-nav">
        <ul >
            <li><a href="#">Gafas de sol</a></li>
            <li><a href="#">deportivas</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="/login">Log In <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        </nav>
        </div>
        </div>
</div>
</header>