 

   <input type="text" name="category" value="" placeholder="deportivos" required>

   <input  type="text" name="category" placeholder="usuario" required>

   <input type="radio" class="lblRecord"name="recordarme" id="recordarme">


   <div class="baner-top"><img src =img/banner.jpg alt="" class="banner_img"></div>
   
   
   <link rel="stylesheet" href="/css/style.css"/>