<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/css/colecciones.css"/>
        <title> PAGINA DE ESTILO </title>
    </head>
    <header class="contenedor-principal">
        <nav class="main-navbar">
            <ul class="left-navbar">
               <li><a href="#">Ninos</a></li>
               <li><a href="#">Adultos</a></li>
               <li><a href="#">Novedades</a></li>
               <li><a href="#">Ayuda</a></li>
       </ul>
        <ul class="right-navbar">
               <li><a href="#">Facebook <i class="fa-brands fa-facebook"></i></i></a></li>
               <li><a href="#">Instragan <i class="fa-brands fa-instagram"></i></a></li>
               <li><a href="#">Whatapp <i class="fa-brands fa-whatsapp"></i> </i></a></li>
               <li><a href="#">Volver al inicio <i class="fa-solid fa-arrow-right-arrow-left"></i></a></li>
       </ul>
     </nav>
    <body>
     <head>
       </head>
        <main>
            <div class="div-nosotros">
            <h1> DETALLE DE COLECCIONES </h1>
            </div>
        </main>
    </body>
       <footer>
        <div class="div-vacio">

        </div>
    </footer>
</html>