<%- include('./partials/head') -%>
<link href="/css/contacto.css"  rel="stylesheet">
    <body>
        <%- include('./partials/header2') -%>

        <main class="texto-nosotros">
         <p>

            DEJANOS TU CONSULTA Y TE ESTAREMOS RESPONDIENDO A LA BREVEDAD !!!.

            COMPLETA EL FORMULARIO!!!
         </p>
       <form >
         <div>
            <label for="user"> Correo Electronico </label> 
            <input class="ingreso" type="text" name="user" placeholder="Correo Electronico">
         </div>
         
         <div>
            <label for="user"> Dejanos tu consulta: </label> 
            <input class="ingreso" type="text" name="user" placeholder="Dejanos tu consulta">
         </div>
        <div>
           <br> </br>
           <input class="ingreso" type="submit" value="Enviar">
        </div>
        
      </form>
        </main>
        <%- include('./partials/footer') -%>
        <script src="/js/bootstrap.bundle.js" ></script>
    </body>
</html>
