<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>probando bases de datos</title>
</head>
<body>
  <h1>sequelize</h1>
  <h1>sequelize</h1>  
  <h1>sequelize</h1>  
  <h1>sequelize</h1>  
  <h1>LISTADO DE USUARIOS</h1>
    <ul>
        <% for( let i = 0; i < genres.length; i++ ) { %>
        <li>
            <a href="/genres/detail/<%= genres[i].id %>"><%= genres[i].email %></a>
        </li>
        <% } %>

    </ul>
  <h1>probando bases de datos</h1>  
  <h1>probando bases de datos</h1>  
  <h1>probando bases de datos</h1>    
</body>
</html>