   <%- include('./partials/head') -%>
<link href="/css/garantia.css"  rel="stylesheet">
    <body>
        <%- include('./partials/header2') -%>

        <main class="contenedor-principal ">
         <p class="texto-nosotros">

            TODOS NUESTROS PRODUCTOS CUENTA CON GARANTIA POR LO CUAL SI TENES UN PROBLEMA SOLO TENES QUE 
            CONTACTARNOS EN NUESTRAS REDES SOCIALES Y SOLUCIONAREMOS EL INVENIENTE

         </p>

        </main>
        <%- include('./partials/footer') -%>
        <script src="/js/bootstrap.bundle.js" ></script>
    </body>
</html>