<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/css/contacto.css"/>
        <title> PAGINA DE ESTILO </title>
    </head>
    <header>
      <div class="div-vacio">

      </div>
    </header>
    <body>
     <head>
        <div class="div-vacio">

        </div>
       </head>
        <main>
            <div class="div-nosotros">
            <h1> Por dudas o consultas relacionadas a la compra de procuctos, ponerse en contacto a por whatsapp al 11XXXX-XXXX o 
                por e-Mail a grupo11ecommerce@grupo11.com.ar </h1>
            </div>
        </main>
    </body>
       <footer>
        <div class="div-vacio">

        </div>
    </footer>