<%- include('./partials/head') -%>
<link href="/css/carousel.css"  rel="stylesheet">
    <body>
        <%- include('./partials/header2') -%>
        <section class="">
        
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img\banner.jpg" class="bd-placeholder-img" width="100%" height="100%" alt="...">
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Example headline.</h1>
                  <p>Some representative placeholder content for the first slide of the carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="img\banner.jpg" class="bd-placeholder-img" width="100%" height="100%" alt="...">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Some representative placeholder content for the second slide of the carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="img\banner.jpg" class="bd-placeholder-img" width="100%" height="100%" alt="...">
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>One more for good measure.</h1>
                  <p>Some representative placeholder content for the third slide of this carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>     
    
    </section>
        <main class="conteiner-products">
            <div ><h3 class="mainOffers">Ofertas</h3></div>
            <section class="flex-offers">
                <article class="flex_article">
                    <div>
                    <p class="price">$70.500</p>
                    <p class="offers">10% OFF</p>
                    </div>
                    <div class="flex_img"><img src =img/Lentes32.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                    <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                   
                </article>
                <article class="flex_article">
                    <div>
                    <p class="price">$70.500</p>
                    <p class="offers">10% OFF</p>
                    </div>
                    <div class="flex_img"><img src =img/Lentes31.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                    <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                   
                </article>
                <article class="flex_article">
                    <div>
                    <p class="price">$70.500</p>
                    <p class="offers">10% OFF</p>
                    </div>
                    <div class="flex_img"><img src =img/Lentes30.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                    <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                   
                </article>
                <article class="flex_article">
                    <div>
                    <p class="price">$70.500</p>
                    <p class="offers">10% OFF</p>
                    </div>
                    <div class="flex_img"><img src =img/Lentes29.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                    <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                   
                </article>
                

            </section>   
            <div><h3 class="mainProduct">Productos</h3></div>
            <section>
                <section class="flex-offers">
                    <article class="flex_article">
                        <div>
                        <p class="price">$70.500</p>
                        <p class="offers">10% OFF</p>
                        </div>
                        <div class="flex_img"><img src =img/Lentes25.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                       
                    </article>
                    <article class="flex_article">
                        <div>
                            <p class="price">$70.500</p>
                            <p class="offers">10% OFF</p>
                            </div>
            
                        <div class="flex_img"><img src =img/Lentes24.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                       
                    </article>
                    <article class="flex_article">
                        <div>
                        <p class="price">$70.500</p>
                        <p class="offers">10% OFF</p>
                        </div>
            
                        <div class="flex_img"><img src =img/Lentes23.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                       
                    </article>
                    <article class="flex_article">
                        <div>
                        <p class="price">$70.500</p>
                        <p class="offers">10% OFF</p>
                        </div>
            
                        <div class="flex_img"><img src =img/Lentes17.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        <div class="flex_detalis"><input type="button" name="esp_" value="Especificaciones"></i></div>
                       
                    </article>
            </section>
            
  

        </main>
        <%- include('./partials/footer') -%>
    </body>
</html>