<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        
        <title>Proyecto e-commerce</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="burger-menu_">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="burger-menu">
                    <img src =img/marca.jpg alt="" class="logo_img">
                </div>
                <div class="form" >
                    <form action="#" method="GET">
                       
                        <label >
                        <input  id="buscarmarca" name="buscar_marca" type="text" placeholder="buscar producto marca" >
                        </label>   
                      
                        <div class="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
                    </form>
                </div>
                <div class="burger-menu">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <div class="burger-menu">
                    <i class="fa-solid fa-basket-shopping"></i>
                </div>

            </div>
        </header>
        <section class="banner">
        <div class="baner-top"><img src =img/banner.jpg alt="" class="ofertas_img"></div>  
        </section>
        <main class="conteiner-products">
            <div ><h3 >Ofertas</h3></div>
            <section class="flex-offers">
                <article class="flex_article">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.

                    <div class="flex_img"><img src =img/Lentes32.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"><i class="fas fa-truck"></i></div>
                    <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                </article>
                <article class="flex_article">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.

                    <div class="flex_img"><img src =img/Lentes31.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"><i class="fas fa-truck"></i></div>
                    <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                </article>
                <article class="flex_article">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.

                    <div class="flex_img"><img src =img/Lentes30.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"><i class="fas fa-truck"></i></div>
                    <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                </article>
                <article class="flex_article">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.

                    <div class="flex_img"><img src =img/Lentes29.jpg alt="" class="ofertas_img"></div>
                    <div class="flex_buy"><i class="fas fa-truck"></i></div>
                    <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                </article>
                

            </section>   
            <div><h3 >Productos</h3></div>
            <section>
                <section class="flex-offers">
                    <article class="flex_article">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.
    
                        <div class="flex_img"><img src =img/Lentes25.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"><i class="fas fa-truck"></i></div>
                        <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                    </article>
                    <article class="flex_article">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.
    
                        <div class="flex_img"><img src =img/Lentes24.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"><i class="fas fa-truck"></i></div>
                        <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                    </article>
                    <article class="flex_article">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.
    
                        <div class="flex_img"><img src =img/Lentes23.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"><i class="fas fa-truck"></i></div>
                        <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                    </article>
                    <article class="flex_article">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Eum expedita inventore quia beatae alias adipisci autem placeat. Quibusdam soluta ad numquam commodi sequi itaque. Eius labore doloribus fugiat.
    
                        <div class="flex_img"><img src =img/Lentes17.jpg alt="" class="ofertas_img"></div>
                        <div class="flex_buy"><i class="fas fa-truck"></i></div>
                        <div class="flex_detalis"><i class="fas fa-truck"></i></div>
                    </article>
            </section>
            
  

        </main>
        <footer>
            <nav >
                <div class="top-footer">
                    <div class="flex-footer">
                        
                        <h3>Productos</h3>
                        <ul>titulo 1</ul>
                        <ul>titulo 2</ul>
                        <ul>titulo 3</ul>
                        <ul>titulo 4</ul>
                        <ul>titulo 5</ul>
                    </div>
                    <div class="flex-footer">
                           
                        <h3>servicios</h3>
                        <ul>titulo 1</ul>
                        <ul>titulo 2</ul>
                        <ul>titulo 3</ul>
                        <ul>titulo 4</ul>
                        <ul>titulo 5</ul>
                       
                    </div>
                    <div class="flex-footer">
                        
                        <h3>Contacto</h3>
                        <ul>titulo 1</ul>
                        <ul>titulo 2</ul>
                        <ul>titulo 3</ul>
                        <ul>titulo 4</ul>
                        <ul>titulo 5</ul>
                    </div>
                    <div class="flex-footer">
                        
                        <h3>Nosotros</h3>
                        <ul>titulo 1</ul>
                        <ul>titulo 2</ul>
                        <ul>titulo 3</ul>
                        <ul>titulo 4</ul>
                        <ul>titulo 5</ul>
                    </div>
                    <div class="flex-footer2">
                        
                        
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-solid fa-gift"></i>
                        <i class="fa-solid fa-user-shield"></i>
                        <i class="fa-solid fa-user-shield"></i>
                    </div>            
                </div>
                </div>
            </nav>
        </footer>
    </body>
</html>