<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <title>Login e-commerce</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="top-nav">
                <div class="burger-menu_">
                <i class="fa-solid fa-bars"></i>
                </div>
                <div class="burger-menu">
                <img src =img/marca.jpg alt="" class="logo_img">
                </div>
                <div class="form" >
                <form action="#" method="GET">
                       
                        <label >
                        <input  id="buscarmarca" name="buscar_marca" type="text" placeholder="buscar producto marca" >
                        </label>   
                      
                        <div class="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
                </div>
                <div class="burger-menu">
                <lu><a href="#"><i class="fa-solid fa-user-shield"></i></a></lu>
                
                </div>
                <div class="burger-menu">
                <lu><a href="#"><i class="fa-solid fa-basket-shopping"></i></a></lu>
                
                </div>
                </div>
                <div>
               
                <div class="navegation" >
                <nav class="bot-nav">
                <ul >
                    <li><a href="#">Gafas de sol</a></li>
                    <li><a href="#">deportivas</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                </nav>
                </div>
                </div>
        </div>
        </header>
                
            <main>
                <section class="mainLogin">
                    <section class="titleLogin">
                        Sign-up / Login
                    </section>
                        <form action="#">
                            <section class="login">
                                <p class="inputText">
                                    <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuari@" required>
                                </p>
                                <p class="inputText">                                
                                    <input type="password" name="contraseña" placeholder="Ingresa tu contraseña" required>
                                </p>
                                <p class="sectionRecordarLogin" style="">                                    
                                    <input type="radio" class="lblRecord"name="recordarme" id="recordarme">
                                    <label for="recordarme" class="lblRecord">Recordarme</label>
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Login">
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Olvide Mi Contraseña">
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Registrar">
                                </p> 
                            </section>                           
                        </form>
                    
                </section>
          
            </main>
            <footer>
                <nav >
                    <div class="top-footer">
                        <div class="flex-footer">
                            
                            <h3>Productos</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                        </div>
                        <div class="flex-footer">
                               
                            <h3>servicios</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                           
                        </div>
                        <div class="flex-footer">
                            
                            <h3>Contacto</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                        </div>
                        <div class="flex-footer">
                            
                            <h3>Nosotros</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                        </div>
                        <div class="flex-footer2">
                            
                            
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-solid fa-gift"></i>
                            <i class="fa-solid fa-user-shield"></i>
                            <i class="fa-solid fa-user-shield"></i>
                        </div>            
                    </div>
                    </div>
                </nav>
            </footer>
    </body>
</html>