<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <title>Login e-commerce</title>
    </head>
    <body>
            <header>
                <section class="top-header">
                    <section class="burger-menu_">
                        <i class="fa-solid fa-bars"></i>
                    </section>
                    <section class="burger-menu">
                        <img src =img/marca.jpg alt="" class="logo_img">
                    </section>
                    <section class="form" >
                        <form action="#" method="GET">
                           
                            <label >
                                <input  id="buscarmarca" name="buscar_marca" type="text" placeholder="buscar producto marca" >
                            </label>   
                          
                            <section class="submit"><i class="fa-solid fa-magnifying-glass"></i></section>
                        </form>
                    </section>
                    <section class="burger-menu">
                        <i class="fa-solid fa-user-shield"></i>
                    </section>
                    <section class="burger-menu">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </section>
    
                </section>
            </header>
                
            <main>
                <section class="mainLogin">
                    <section class="titleLogin">
                        Sign-up / Login
                    </section>
                        <form action="#">
                            <section class="login">
                                <p class="inputText">
                                    <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuari@" required>
                                </p>
                                <p class="inputText">                                
                                    <input type="password" name="contraseña" placeholder="Ingresa tu contraseña" required>
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Login">
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Olvide Mi Contraseña">
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Registrar">
                                </p> 
                            </section>                           
                        </form>
                    
                </section>
          
            </main>
            <footer>
                <nav >
                    <div class="top-footer">
                        <div class="flex-footer">
                            
                            <h3>Productos</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                        </div>
                        <div class="flex-footer">
                               
                            <h3>servicios</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                           
                        </div>
                        <div class="flex-footer">
                            
                            <h3>Contacto</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                        </div>
                        <div class="flex-footer">
                            
                            <h3>Nosotros</h3>
                            <ul>titulo 1</ul>
                            <ul>titulo 2</ul>
                            <ul>titulo 3</ul>
                            <ul>titulo 4</ul>
                            <ul>titulo 5</ul>
                        </div>
                        <div class="flex-footer2">
                            
                            
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-solid fa-gift"></i>
                            <i class="fa-solid fa-user-shield"></i>
                            <i class="fa-solid fa-user-shield"></i>
                        </div>            
                    </div>
                    </div>
                </nav>
            </footer>
    </body>
</html>