<%- include('./partials/head') -%>
<link href="/css/nosotros.css"  rel="stylesheet">
    <body>
        <%- include('./partials/header2') -%>

        <main class="contenedor-principal">
         <p class="texto-nosotros">

            GUARDO STORE es una multicar marca de lentes preparada para todas las edades
            , que se inspira directamente en llevar a todas las edades el arte contemporáneo
            El ADN de GUARDO STORE (our Kind) se creo en los bastante tiempo atras, nació
            cuando gente que pensaba igual busco una ideologia
            que significara mas. Creación, orgullo, resiliencia.
            Fueron surfers, creadores, skaters, músicos y artistas
            Unidos para sentar el camino al futuro.
            Hoy GUARDO STORE continua prosperando en la persecución de la
            vida mas alla de las reglas sociales y nuestros lentes acompanen en cada momentos especial
            de las distintas etapas para niños,adultos, profesionales etc.
            Los visionarios del pasado pavimentaron el camino para una nueva generación
            que continua la tradición de la vieja guardia, llevando a
            la juventud a los valores de las marcas fundadoras.
            Our Kind esta acá para quedarse, y continuaremos
            expresándonos como queremos. Tirándonos de cabeza,
            libre de limitaciones e inspirando a los que vendrán después.
         </p>
  

        </main>
        <%- include('./partials/footer') -%>
        <script src="/js/bootstrap.bundle.js" ></script>
    </body>
</html>


















































                    
    