<%- include('./partials/head') -%>
<link href="/css/nosotros.css"  rel="stylesheet">
    <body>
        <%- include('./partials/header2') -%>

        <main class="contenedor-principal">
         <p class="texto-nosotros">

            GUARDO STORE es una marca de surf alternativo, que se inspira
            directamente en la musica indie, el arte contemporáneo
            y la moda innovadora.
            Respetamos a quienes vinieron antes que nosotros y
            sentaron las bases hace 35 años: para perseguir el
            fuego, empujar los limites del caos, para salir
            desafiados  y victoriosos.
            El ADN de Rusty (our Kind) se creo en los 80s, nació
            cuando gente que pensaba igual busco una ideologia
            que significara mas. Creación, orgullo, resiliencia.
            Fueron surfers, creadores, skaters, músicos y artistas
            Unidos para sentar el camino al futuro.
            Hoy Rusty continua prosperando en la persecución de la
            vida mas alla de las reglas sociales. Los visionarios del
            pasado pavimentaron el camino para una nueva generación
            que continua la tradición de la vieja guardia, llevando a
            la juventud a los valores de las marcas fundadoras.
            Our Kind esta acá para quedarse, y continuaremos
            expresándonos como queremos. Tirándonos de cabeza,
            libre de limitaciones e inspirando a los que vendrán después.
         </p>
  

        </main>
        <%- include('./partials/footer') -%>
        <script src="/js/bootstrap.bundle.js" ></script>
    </body>
</html>


















































                    
    