<%- include('./partials/head') -%>
<link href="/css/redessociales.css"  rel="stylesheet">
    <body>
        <%- include('./partials/header2') -%>
        <main>
            <div class="div-redessociales">
            
                <h1> 
                :) Opppsss!!! Por el momento este link no esta funcionando , en breve estara listo para que te puedas comunicar con
                nosotros directamente desde nuestra web , nos vemos pronto !!!!!!
            </h1>

            </div>
        </main>
        <%- include('./partials/footer') -%>
        <script src="/js/bootstrap.bundle.js" ></script>
    </body>
</html>