<%- include('./partials/head') -%>

    <body>
        
    <%- include('./partials/header') -%>

        <main class="registerBody">
            <div class="conteiner-register">
                <div class="titulo-register">Registrate</div>
                <form action="#">
                    <div class="userdetalle-register">
                    <div class="input-register">
                        <span class="detalle-rigister">Nombre y Apellido</span>
                        <input type="text" name="nombre" placeholder="Ingresa tu nobre" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Usuario</span>
                        <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuari@" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">E-mail</span>
                        <input type="email" name="email" placeholder="Ingresa tu E-mail" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Teléfono</span>
                        <input type="text" name="telefono" placeholder="Ingresa tu teléfono" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Contraseña</span>
                        <input type="password" name="contraseña" placeholder="Ingresa tu contraseña" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Repetir contraseña</span>
                        <input type="password" name="contraseña" placeholder="Confirma tu contraseña" required>
                    </div>
                    <div class="boton-register">
                            <input type="submit" name="" value="Registrar">
                        </div>
               
  
                </form>
            </div>
      
        </main>
        
<%- include('./partials/footer') -%>
    </body>
</html>