<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Proyecto e-commerce</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="conteiner-register">
                <div class="titulo-register">Registrate</div>
                    <div class="input-register">
                        <span class="detalle-rigister">Nombre y Apellido</span>
                        <input type="text" name="nombre" placeholder="Ingresa tu nobre" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Usuario</span>
                        <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuari@" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">E-mail</span>
                        <input type="email" name="email" placeholder="Ingresa tu E-mail" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Telefomo</span>
                        <input type="text" name="telefono" placeholder="Ingresa tu teléfono" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Contraseña</span>
                        <input type="password" name="contraseña" placeholder="Ingresa tu contraseña" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Repetir contraseña</span>
                        <input type="password" name="contraseña" placeholder="Confirma tu contraseña" required>
                    </div>
                    <div class="genero-register">
                        <span class="generotitulo-register">Genero</span>
                        <div class="categoria-register">
                            <label for="">
                                <span class="ninguna-register"></span>
                                <span class="genero">Masculino</span>
                            </label>
                            <label for="">
                                <span class="ninguna-register"></span>
                                <span class="genero">Femenino</span>
                            </label>
                            <label for="">
                                <span class="ninguna-register"></span>
                                <span class="genero">No especifica</span>
                            </label>

                        </div>

                    </div>
                    <div class="boton-register">
                        <input type="submit" name="" value="Registrar">

                    </div>

                </div>
            

        </main>
        <footer>

        </footer>
    </body>
</html>