* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
   }

body{
    margin: 0;
    font-family: 'Roboto', Verdana, sans-serif; 
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}
.top-header{
   
    padding: 1.5em 0;
    background: #000000;
    border: 1px solid #000000;
   
}
.conteiner-products {
    
    
    
    text-align: center;
    width: 90vw;
    margin: 10px 10px 10px 10px;
    
}
main section article {
    border: 3px dotted green; 
}
section.flex-offers  {
    display: flex; 
   
    flex-direction: column;
    flex-wrap: wrap;
    
}
article.flex_article  {
    display: flex; 
    border: 3px solid rgb(0, 19, 128); 
    flex-direction: column;
   
   
}
section article img {

width: 50%;
}

.top-footer{
    
    padding: 2em 0;
    background: #f8f6f6;
    border: 1px solid #000000;
}
.top-footer {
    border: 3px dotted rgb(26, 128, 0); 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.flex-footer{
    margin: auto;
    display: flex;
    flex-direction: column;
    display: none;
    
}
.flex-footer2{
    margin: auto;
    display: flex;
    flex-direction: row;
    
   
}
.flex-footer2 i{
    margin-left: 20px;
    
}

@media (min-width:640px){
   section.flex-offers  {
        flex-direction: row;
        flex-wrap: wrap;
        align-self:center;
        
    }
    article.flex_article{
        width: 50%;
    }
    .flex-footer{
        display: block;
    }
    .flex-footer2 i{
        margin-left: 5px;
        
    }
       
}
@media (min-width:768px){
    .top-header{
        height: 161px;    
    
    }
    
    article.flex_article{
        width: 30%;
    }

    .top-footer{
       
        padding: 5em 0;
        
        }
}

@media (min-width:1024px){
    article.flex_article{
        width: 25%;
    } 
    /*
    .top-footer{
       
   revisar maximo y centrar header y footer
    max-width: 1024px;

       

}*/ 
}