/*     */
/*     */
/**{
    margin: 0px;
    padding: 00px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;


.registerBody{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 10px;
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    
}  


.conteiner-register{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px ;
    border-radius: 5px;
    
    box-shadow: 1px 0px 1px 0px gray ;
    

}

.conteiner-register .titulo-register{
    font-size: 25px;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    
}
.conteiner-register form .userdetalle-register{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}
form .userdetalle-register, .input-register{
    margin: 20px o 12px 0;
    width: calc(100% / 2 - 20px);
    
    

}
.userdetalle-register, .input-register ,.detalle-rigister{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    
}
 form .userdetalle-register, .input-register input{
    
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    height: 40px;
    border: solid 2px black;
}
} 
 
 .boton-register {
    height: 45px;
    margin: 45px 0;
    margin: auto;
    left: 100px;

}
 */  
 .boton-register {
    height: 45px;
   }
 
.boton-register input{
    height: 100%;
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    

}
.boton-register input:hover{
    background: linear-gradient(135deg, #bb83d1, #8ac7f0 );

}
