* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
   }

body{
    margin: 0;
    font-family: 'Roboto', Verdana, sans-serif; 
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}
header{width: 100%;
}
.top-header{
    display: flex;
    justify-content:space-around;
    padding: 1.5em 0;
    background: linear-gradient(135deg, #2F8F9D, #82DBD8);
    border: 1px solid #000000;
    flex-direction: column;
    
   
}
.top-nav{
    display: flex;
    justify-content:space-around;
    
}
.bot-nav ul{
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    width: auto;

}
.bot-nav ul a{
    width: 25%;
}
header ul li{
    list-style-type: none;
    margin: 0 5px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}
.navegation{display: none;
}

body section{
    width: 100%;
}
section.banner img{
    box-sizing: border-box ;
    width: 100%;
}
.banner{display: none;
} 
.form{display:none}   
   
 

/*quiter la otra regla de  imagen de articulo que esta mas abajo*/
main section article  div img{
    width:70%;
  
}
.conteiner-products {
    
    
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 1%;
    
}
main section article{
    background-color: #fff;
    padding: 15px;    
    margin: 10px 5px;
}
main section article:hover{
    
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }

section.flex-offers  {
    display: flex; 
    width: auto;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.mainOffers, .mainProduct{
    background: linear-gradient(135deg, #2F8F9D, #82DBD8);
    width: 20%;
    min-width: 100px;
    max-width: 150px;
    height: 5%;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: black;    
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}
.price_2 ,.offers_2{
font-size: 24px;    
}

.flex-offers2  {
    display: flex; 
   
    flex-direction: row;
    flex-wrap: nowrap;
    
}
article.flex_article-detail  {
    display: flex; 
    
    flex-direction: column;
   
   
}
.flex-other_img {
    display: flex; 
    
    flex-direction: row;
   
   
}

article.flex_article  {
    display: flex; 
    
    flex-direction: column;
   
   
}

.flex_buy input ,.flex_detalis input {
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    border-radius: 5px;
    font-size: 2%;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    padding: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    transition: all 1s;
}
.flex_detalis input:hover{
    background: linear-gradient(135deg, #bb83d1, #8ac7f0);
}
.flex_buy input:hover{
    background: linear-gradient(135deg, #bb83d1, #8ac7f0);
}

footer{
    width: 100%;
    
}
.top-footer{
    
    padding: 2em 0;
    /* background: #f8f6f6; */
    background: linear-gradient(135deg, #2F8F9D, #82DBD8);
    border: 1px solid #000000;
}
.top-footer {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    border-top: 1px solid #162370;
    padding: 15px;
}
 .flex-footer{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    display: none;
    
    
}
.flex-footer2{
    margin: auto;
    display: flex;
    flex-direction: row;
    
   
}
.flex-footer2 svg{
    margin-left: 20px;
    
}

/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN  */

section.mainLogin{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    width: 60%;
    background: #fff;    
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 5px;
    height: 80%;

    
}
section.titleLogin{
    width: 28%;
    align-items: flex-start;
    text-align: center;
    margin-left: 10%;
    
    margin-top: 0%;
    background: #ebebeb;
    border-radius: 5px;
}
.login p{
    margin-top: 1%;    
    margin-bottom: 1%;
    justify-content: center;
    font-size: 12px;
    display: flex;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    border: none;
    padding: 3px;
    width: 100%;

}
.login {
    padding-top: 10%;
    flex-wrap: wrap;
    
}
section.btn{
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    cursor: pointer;   
}
.inputText input{
    margin-top: 1%;    
    margin-bottom: 1%;
    justify-content: center;
    font-size: 12px;
    display: flex;
    background: #ebebeb;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    border: none;
    padding: 3px;
    width: 80%;
    height: 30px;
}

.botonlogin input {
    background: linear-gradient(135deg, #8ac7f0, #bb83d1);
    border-radius: 5px;
    font-size: 2%;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    width: 80%;
    height: 40px;
    margin: 5px 0px 10px 0px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    transition: all 1s;
}

.botonlogin input:hover{
    background: linear-gradient(135deg, #bb83d1, #8ac7f0);
}

.holderfooter{
    margin-top: 5%;
    background-color: #fff;
    padding-top: 5%;
}

/* FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN FIN LOGIN  */
/*carrito*/
.head-carrito{
    background-color: white;
    margin-top: 10px;
    height: 100px;
    color: rgb(70, 69, 69);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px gray;
    align-items: center;
    
}
.articulo-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.articulo-carrito, .compra-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.pro-carrito{
    color: royalblue;
    position: relative;
    left:150px ;
    
}
.modelo-carrito{
    color: royalblue;
    position: relative;
    left: 430px;

}
.cantiadd-carrito{
    color: royalblue;
    position: relative;
    left: 225px;

}
.precioo-carrito{
    color: royalblue;
    position: relative;
    

}
.carro-carrito{
   font-size: 20px;
    color: royalblue;
    position: relative;
    right: 125px;

}



.nombre-carrito{
    color: royalblue;
    font-family: sans-serif;
    font-size: 20px;
   
}
.nombre-carrito:hover{
    font-size: 25px;
    color: rgb(27, 62, 165);
}
.cantidad-carrito{
    border: solid 1px royalblue;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 40px;
    height: 30px;
}
.cantidad-carrito:hover{
    border: solid 2px royalblue;
    font-size: 20px;

}
.borrar-carrito{
    color: royalblue;
    margin: 7px;
    font-size: 20px;
   
}
.borrar-carrito:hover{
    color: rgb(211, 17, 17);
}
.precio-carrito{
    font-size: 20px;
}
.precio-carrito:hover{
    font-size: 25px;
    color: rgba(0, 97, 92, 0.842);

}
.compra-carrito{
    background-color: white;  
    margin-top: 10px;
    height: 150px;
    color: rgb(70, 69, 69);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border: solid 1px gray;
    align-items: center;
    
}
.agregar-carrito{
    display: flex;
    flex-direction: column;
    
    position: relative;
    left: 550px;
}
.total-carrito{
    font-size: 20px;
    color: royalblue;
    margin-bottom: 15px;
}
  











@media (min-width:480px){
    .navegation{display:block;
    }
    .form{display:block
    } 

    .banner{display: block;
    } 

   section.flex-offers  {
        flex-direction: row;
        flex-wrap: wrap;
        align-self:center;
        
    }
    article.flex_article{
        width: 45%;
    }
       
       .flex-footer{
        display: block;
    }
     
    
    .flex-footer2 svg{
        margin-left: 5px;
        
    }
       
}
@media (min-width:768px){
    .top-header{
        height: 161px;    
    
    }
    
    article.flex_article{
        width: 23%;
    }

    .top-footer{
       
        padding: 5em 0;
        
        }
}

@media (min-width:1279){
    article.flex_article{
        width: 23%;
    } 
    /*
    .top-footer{
       
   revisar maximo y centrar header y footer
    max-width: 1024px;

       

}*/ 
}
    /*
    */ 