<%- include('../partials/head') -%>

    <body>
        
    <%- include('../partials/header') -%>

        <main class="registerBody">
            <div class="conteiner-register">
                <div class="titulo-register">Registrate</div>






                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div class="userdetalle-register">
                    <div class="input-register">
                        <span class="detalle-rigister">Nombre</span>
                        <input type="text" name="firstname" placeholder="Ingresa tu nombre" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Apellido</span>
                        <input type="text" name="lastname" placeholder="Ingresa tu apellido" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Usuario</span>
                        <input type="text" name="user_name" placeholder="Ingresa tu nombre de usuari@" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">E-mail</span>
                        <input type="email" name="email" placeholder="Ingresa tu E-mail" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Categoria</span>
                        <input  type="text" name="category" placeholder="usuario" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Foto de perfil</span>
                        <input  type="file" name="avatar" >
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Contrase単a</span>
                        <input type="password" name="password" placeholder="Ingresa tu contrase単a" required>
                    </div>
                    <div class="input-register">
                        <span class="detalle-rigister">Repetir contrase単a</span>
                        <input  type="password" name="password" placeholder="Confirma tu contrase単a" required>
                    </div>
                    <div class="boton-register">
                        <input type="submit" name="" value="Registrar">
                    </div>
               
  
                </form>
            </div>
      
        </main>
        
<%- include('../partials/footer') -%>
    </body>
</html>