<%- include('../partials/head') -%>
    <body>
        
        <%- include('../partials/header') -%>
        
        <main>
            <nav class="caja-carrito">
                <section class="head-carrito">
                    <h4 class="pro-carrito">Producto</h4>
                    <h4 class="modelo-carrito">Modelo</h4>
                    <h4 class="cantiadd-carrito">Cantidad</h4>
                    <h4 class="precioo-carrito">Precio</h4>
                    <div class="carro-carrito"><i class="fa-solid fa-cart-shopping"></i></div>
                    
                </section>
            <section class="producto-carrito">
                <article class="articulo-carrito">
                <div class="cajalentes.carrito"><img src =img/Lentes25.jpg alt="" class="lentes-carrito"></div>
                <p class="nombre-carrito">Lentes marca N17</p><br>
                <div class="cantidad-carrito">
                <p>1</p><br>
                <i class="fa-solid fa-plus-minus"></i><br></div>
                <p class="precio-carrito">$10500</p><br>
                <div class="borrar-carrito"><i class="fa-solid fa-trash"></i><br></div> 
                <div class="flex_buy"> <input type="button" name="com_" value="Agregar al carrito" ></i></i></div>

            </article>
            <article class="articulo-carrito">
                <div class="cajalentes.carrito"><img src =img/Lentes31.jpg alt="" class="lentes-carrito"></div>
                <p class="nombre-carrito">Lentes marca N17</p><br>
                <div class="cantidad-carrito">
                <p>1</p><br>
                <i class="fa-solid fa-plus-minus"></i><br></div>
                <p class="precio-carrito">$10500</p><br>
                <div class="borrar-carrito"><i class="fa-solid fa-trash"></i><br></div> 
                <div class="flex_buy"> <input type="button" name="com_" value=" Agregar al carrito "></i></div>

            </article>
            

            </section>
            <section class="compra-carrito">
                <div class="agregar-carrito">
                <p class="total-carrito">Total $21000</p>
                <div class="flex_buy"> <input type="button" name="com_" value=" Iniciar compra "></i></div>
            </div>


            </section>
            
        </nav>

        </main>
        
<%- include('../partials/footer') -%>
    </body>
</html>