
<%- include('../partials/head') -%>
    <body>
     
    <%- include('../partials/header') -%>

        <section class="titleDetails" >
        <h3>DETALLES DEL PRODUCTO</h3>
        </section>
        <main class="conteiner-products">
            
            <section class="flex-detail">
                <article class="flex_article-detail">
                   
                        <div class="flex-other_img">
                            <div class="flex_img2"><img src =img/Lentes25.jpg alt="" class="ofertas_img"></div>
                            <div class="flex_img2"><img src =img/Lentes25.jpg alt="" class="ofertas_img"></div>
                            <div class="flex_img2"><img src =img/Lentes25.jpg alt="" class="ofertas_img"></div>
                            <div class="flex_img2"><img src =img/Lentes25.jpg alt="" class="ofertas_img"></div>
                        </div>
                   
                   <div class="flex_prod"><img src =img/Lentes32.jpg alt="" class="flex_prod"></div>

                   <section class="precioDetail">
                    <div>
                        <label for="price_2">Precio</label>
                        <p class="price_2">$70.500</p>
                        </div>
                        <div>
                        <label for="offers_2">Descuento</label>
                        <p class="offers_2">10% OFF</p>
                        </div>
                    </section>
                    <section class="buyDescripcionDetails">
                        <div class="descripDetails">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </div>
                        <div class="flex_buy"> <input type="button" name="com_" value="Comprar"></i></div>
                    </section>  
                    
                    

                  
                </article>
                <section class="descripcionLarge">
                    <article>
                    <div>
                        DESCRIPCION COMPLETA <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam delectus similique et suscipit voluptatibus. Nihil ratione aperiam doloribus itaque nulla ut est magnam laudantium, magni, labore libero obcaecati possimus.
                    </div>
                    </article>   
                </section>


               
            </section class="otrosRecomendados">   
                <div><h3  class="titleDetails" >Recomendados</h3></div><br>
                <section class="flex-offers2" style="width: 90%;margin: auto;">
                    <article class="flex_article2" style="padding-left: 1%; padding-right: 1%;">
                        <div class="flex_img2"><img src =img/lentesdeportivo1.jpg alt="" class="ofertas_img"></div>
                        <section class="botonydescripRecomend">
                            <div class="descripRecomendado">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                            <div class="bton-buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        </section>  
                    </article>
                    <article class="flex_article2">
                        <div class="flex_img2"><img src =img/lentesdeportivo7.jpg alt="" class="ofertas_img"></div>
                        <section class="botonydescripRecomend">
                            <div class="descripRecomendado">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                            <div class="bton-buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        </section>  
                    </article>    
                    <article class="flex_article2">
                        <div class="flex_img2"><img src =img/lentesdeportivo4.jpg alt="" class="ofertas_img"></div>
                        <section class="botonydescripRecomend">
                            <div class="descripRecomendado">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                            <div class="bton-buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        </section>  
                    </article>
                    <article class="flex_article2">
                        <div class="flex_img2"><img src =img/lentesdeportivo8.jpg alt="" class="ofertas_img"></div>
                        <section class="botonydescripRecomend">
                            <div class="descripRecomendado">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            </div>
                            <div class="bton-buy"> <input type="button" name="com_" value="Comprar"></i></div>
                        </section>  
                    </article>    
                
                </section>
           
  

        </main>
        
    <%- include('../partials/footer') -%>

    </body>
</html>